.container {
  margin-top: 80px;
}

// .buttons {
//   margin-left: 40rem;
// }

button {
  padding: 0.5rem 0.3rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
